/* configurações da página */
body{
    position: absolute;
}
.quadrado{ /* linha diagonals */
  display: inline-block;
  width:120px;
  height:140px;
  border-left: 2px solid;
  transform: skew(45deg);
  position: absolute;
  left: 1260px;
  top:51px;
  background-color: #FFFFFF
}

.btn_balanco{ /* botão de balanço */
  border: 2px solid #000000;
  color: #FFFFFF;
  height: 54px;
  width: 135px;
  position: absolute;
  left: 1198px;
  top:-5px;
  background: #373975 url(../images/balanco.png) no-repeat left center;
  background-color: #373975;
  background-size: 22px;
  font-size: 22px;
}

.btn_balanco span{ /* texto do botão de balanço */
  padding: 0 0 0 12px;
}

.titulo{ /* título da página */
  position: relative;
  bottom: 10px;
  right: 10px;
  height: 60px;
  display: block;
  width: 1200px;
  border-bottom: 2px solid;
  border-right: 2px solid;
}

.inputobs{ /* campo observacao do formulário */
  height: 70px;
}
.registros, .txtdespesas, .txtganhos{
  height: 0;
}
.registros, .consultas{
  position: relative;
  top: -18px;
}

.imgsecao{ /* imagem de lupa e de registrar */
  position: relative;
  top: -10px;
  height: 30px;
  width: 30px;
}
.txtganhos{ /* titulos em verde (ganhos) */
  color: #32CD32;
}

.txtdespesas{ /* titulos em vermelho (despesas) */
  color: #FA8072;
}

.secao{ /* as seções da página ex: seção de registro e de consulta */
  width: 1250px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  padding-bottom: 20px;
}

.tables{ /* tabelas da página (afora) */
  width: 1250px;
  padding-bottom: 20px;
}

.corLinha{ /* cor das linhas pares das tabelas de ganhos e despesas  */
  background-color: #c6c6c6;
}
#botaoExcluiDados{
  width: 1144px;
}
.inputdata, .inputobs, .inputvalor{
  width: 340px;
}

h1{ /* titulo da página*/
  font-size: 25px;
  vertical-align: middle;
  padding-left: 70px;
  height: 80px;
  display: inline-block;
}

h2{ /* titulo das seções (parte de registro e de consulta)*/
  display: inline-block;
  margin-left: 10px;
}

input{ /* campos de inserção no formulário*/
  border: 2px solid #000000;
}

.invisivel{
  border: 0;
}

.tabledados{ /* tabelas de ganhos e despesas*/
  vertical-align: top;
  align-items: baseline;
  border-collapse: collapse;
  text-align: center;
  width: 520px;
  border: 2px solid #000000;
  margin: 0px 30px 0px 10px;
}
.tabledados thead tr td, .tabledados tr td{
  font-size: 17px;
}
.tabledados thead tr td{
  background-color: #32CD32;
}

form{ /* configurações do formulário*/
  display: inline-block;
  height: 200px;
}

.tabledados p{ /* texto de identificação do campo no formulário */
  display: inline-block;
  text-align: center;
  width: 130px;
}

.btnenviar, .btnzeraespacos{
  margin-left: 3px;
  margin-right: 3px;
  border: 2px solid #000000;
  float: right;
  position: relative;
  top: 11px;
  left: -20px;
  background-color: #4CAF50;
  width: 80px;
  height: 25px;
}

.btnzeraespacos{
  background-color: #FA8072;
}
.btnenviar{
  width: 95px;
  height: 30px;
  background-color: #32CD32;
}

button.tabledados{ /* botões do fim da página */
  height: 30px;
  background: #FA8072 url(../images/resetar.png) no-repeat content-box left center;
  padding: 0;
  background-size: 12px;
}

.zerageral{ /* botão de apagar todos os registros */
  width: 1100px;
}
